<!-- <h1>Handm#home</h1>
<p>Find me in app/views/handm/home.html.erb</p> -->

<ul class="slideshow">
  <li class="show"><%= image_tag "translation-services.jpg", size: "850x420" %></li>
  <li><%= image_tag "plaza-de-espana-sevilla.jpg" %></li>
  <li><%= image_tag "stonehenge.jpg", size: "800x600" %></li>
</ul>

<div id="content">
      <h1>Welcome to Harrison & McGrath</h1>
      <p></p>
  </div>
